<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Hash</title>
</head>
<body>
    <form action="/hashPass" method="post">
        <input type="password" name="pass" id="pass" placeholder="Enter a pass">
        <input type="submit" value="Generate Hash">
    </form>
</body>
</html>